
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function sendEmail() {
        var email = $("#emailAddress").val().trim();
        if (email == '') {
            alert("Please enter email address");
        }
        else {
            $("#SendResetPasswordLink").submit();
        }
    }
</script>

<div class="bradcam_area bradcam_bg_login">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Reset Password</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-9">
                <div class="destination_info">

                    <h3 class="mb-30">Email Address</h3>
                    <form action="SendResetPasswordLink" name="SendResetPasswordLink" id="SendResetPasswordLink" method="post">
                        <div class="mt-10">


                            <input class="single-input" placeholder="Email Address" onfocus="this.placeholder = ''" id="emailAddress" name="emailAddress"
                                   onblur="this.placeholder = 'Email Address'" />

                        </div>

                        <div class="mt-10">
                            If you are a registered user, a password reset link will be sent to your email address.
                        </div>

                        <div class="mt-10">
                            <a href="javascript:sendEmail()" class="boxed-btn4">Send password reset link</a>
                            <a href="#" style="margin-top:3px;" class="boxed-btn4">Cancel</a>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>


