
@{
    ViewData["Title"] = "ResetPasswordLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
    function resetPassword() {
        var password = $('#cPassword').val().trim();
        var reset_password = $('#resetPassword').val().trim();

        if (password == '') {
            alert("Please enter password");
            return;
        }

        if (reset_password == '') {
            alert("Please re- enter password");
            return;
        }

        if (password != reset_password) {
            alert("Password and reset password should be same");
            return;
        }

        if (!isStrongPwd(password)) {
            alert("Password rules doesn't match. Please enter a strong password");
            return;
        }

        $("#ResetPassword").submit();
    }

        function isStrongPwd(password) {

            var uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

            var lowercase = "abcdefghijklmnopqrstuvwxyz";

            var digits = "0123456789";

            

            var ucaseFlag = contains(password, uppercase);

            var lcaseFlag = contains(password, lowercase);

            var digitsFlag = contains(password, digits);

            

            if (password.length >= 8 && ucaseFlag && lcaseFlag && digitsFlag)
                return true;
            else
                return false;

        }

        function contains(password, allowedChars) {

            for (i = 0; i < password.length; i++) {

                var char = password.charAt(i);

                if (allowedChars.indexOf(char) >= 0) { return true; }

            }

            return false;
        }
    </script>

<div class="bradcam_area bradcam_bg_login">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Reset Password</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-9">
                <div class="destination_info">

                    
                    <form action="ResetPassword" name="ResetPassword" id="ResetPassword" method="post">
                        <div class="mt-10">

                            <h3 class="mb-30">Type Password</h3>
                            <input class="single-input" placeholder="Password" onfocus="this.placeholder = ''" id="cPassword" name="cPassword"
                                   onblur="this.placeholder = 'Password'" type="password" />

                            <h3 class="mb-30">Re-type password</h3>
                            <input class="single-input" placeholder="Reset Password" onfocus="this.placeholder = ''" id="resetPassword" name="resetPassword"
                                   onblur="this.placeholder = 'Reset Password'" type="password" />
                            <input type="hidden" name="reset_password_id" id="reset_password_id" value="@ViewBag.resetId" />
                        </div>

                        <style>
                            ul {
                                list-style: none;
                            }

                                ul li:before {
                                    content: '✓';
                                }
                        </style>

                        <div class="mt-10">
                            <ul>
                                <li>Password must be minimum 8 letters</li>
                                <li>Include at least one upper case character (A-Z)</li>
                                <li>Include at least one lower case character (a-z)</li>
                                <li>Include a number (0-9)</li>
                            </ul>
                        </div>

                        <div class="mt-10">
                            <a href="javascript:resetPassword()" class="button button-contactForm boxed-btn">Reset password</a>
                            <a href="#" style="margin-top:3px;" class="button button-contactForm boxed-btn">Cancel</a>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>


