
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bradcam_area bradcam_bg_login">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Reset Password Completed</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-9">
                <div class="destination_info">

                    <h3 class="mb-30">Your password reset is done. Please login</h3>
                    

                </div>

            </div>
        </div>
    </div>
</div>


