
@{
    ViewData["Title"] = "About";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_6">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="text-transform: uppercase;">About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <!--<div class="row justify-content-center">-->
        <div class="row">

            <div class="col-lg-12">
                <div class="section_title text-center mb_70">

                    <p>
                        <div class="author_thumb" style="border-radius:50%; ">
                            <a href="https://goo.gl/maps/KxYigfgQD9ucA4mZ8" target="_blank">
                                <img src="~/img/about/sams_map.png" alt="" style="width:300px; margin-top:30px;">
                            </a>
                        </div>
                    </p>

                </div>
            </div>

            <div class="col-lg-12">
                <div class="section_title text-justify mb_70">
                    <h3>Who We Are</h3>
                    <p>
                        Sam’s Holdings<sup style="font-size: 7px; vertical-align:middle;">SM</sup>, LLC is a privately owned and operated business run locally in Matthews, NC.  It’s owner, Sami Nafisi, joined the Charlotte community in 1980 and has become a successful entrepreneur following the inception of his gasoline business in 1993.
                    </p>
                    <p style="margin-top:20px;">
                        Since then, the company has only continued to grow and expand, opening new convenience stores, car washes, and gas stations in various locations throughout North Carolina, South Carolina, and Georgia.  Our commitment to our local community and the environment at large remains a central component of our customer-centered experience.
                    </p>

                    <h3>Our Companies</h3>

                    <p>
                        <ul class="unordered-list">
                            <li>
                                <a href="https://samsxpresscarwash.com/" target="_blank"><b>Sam's Xpress® Car Wash</b></a>
                            </li>
                            <li>
                                <a href="https://samsmartinc.com/" target="_blank"><b>Sam's Mart</b></a>
                            </li>
                        </ul>
                        <hr />
                        
                    </p>
                </div>
            </div>
        </div>


            

            
</div>
    </div>

<div class="where_togo_area popular_destination_area" style="background-color:#ffffff;">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 align-items-center" style="text-align:center; margin-bottom:25px;  font-size:40px; ">
                <b>Committed to Our Communities</b>
            </div>
        </div>
    </div>

    <div class="container" >

        
        <div class="row align-items-center">


            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams-about-1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams_about_2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams_about_3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams-about-4.png" alt="">
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams_about_4.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="~/img/about/sams-about-6.png" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<section class="contact-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 align-items-center" style="text-align:center; margin-bottom:25px; color:#ffffff; font-size:40px; ">
                <b>…A Company Devoted to Making a Difference</b>
                <p>
                    We look forward to helping you find the perfect site for your next commercial project.
                </p>
                
            </div>
        </div>
    </div>

    
</section>