
@{
    ViewData["Title"] = "Index";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>About Us</h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="about_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Our Story</h3>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p>
                                        Sam’s Holdings is a sister company to Sam’s Xpress Car Wash and Sam’s Mart Convenience stores. We select sites and develop high-quality Commercial properties not only for our internal clients, but also for third party users. We understand how to build and manage well-located projects that foster growth and impact our communities.
                                    </p>
                                </div>

                                <div class="col-lg-8">
                                    <p>
                                        Sam’s Holdings is a sister company to Sam’s Xpress Car Wash and Sam’s Mart Convenience stores. We select sites and develop high-quality Commercial properties not only for our internal clients, but also for third party users. We understand how to build and manage well-located projects that foster growth and impact our communities.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="story_thumb">
                            <h4>Our Team</h4>
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="thumb padd_1">
                                        <img src="img/about/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="thumb">
                                        <img src="img/about/2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>
                                        Sam’s Holdings is a sister company to Sam’s Xpress Car Wash and Sam’s Mart Convenience stores. We select sites and develop high-quality Commercial properties not only for our internal clients, but also for third party users. We understand how to build and manage well-located projects that foster growth and impact our communities.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>