
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function checkPassword() {
        var password = $("#txtPassword").val().trim();
        var retypePassword = $("#txtRetypePassword").val().trim();

        if (password == '') {
            alert("Please Enter Password");
            return;
        }

        if (retypePassword == '') {
            alert("Please ReType Password");
            return;
        }

        if (password != retypePassword) {
            alert("Password And Retype password Are Not Same");
            return;
        }

        if (!isStrongPwd(password)) {
            alert("Password rules doesn't match. Please enter a strong password");
            return;
        }

        $("#frmResetPassword").submit();
    }

    function isStrongPwd(password) {

        var uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

        var lowercase = "abcdefghijklmnopqrstuvwxyz";

        var digits = "0123456789";



        var ucaseFlag = contains(password, uppercase);

        var lcaseFlag = contains(password, lowercase);

        var digitsFlag = contains(password, digits);



        if (password.length >= 8 && ucaseFlag && lcaseFlag && digitsFlag)
            return true;
        else
            return false;

    }

    function contains(password, allowedChars) {

        for (i = 0; i < password.length; i++) {

            var char = password.charAt(i);

            if (allowedChars.indexOf(char) >= 0) { return true; }

        }

        return false;
    }
</script>

<div class="bradcam_area bradcam_bg_login">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Reset Password</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-9">
                <div class="destination_info">

                    <h3 class="mb-30">Reset Password</h3>
                    <form action="ResetPassword" name="frmResetPassword" id="frmResetPassword" method="post">
                        <div class="mt-10">


                            
                            <input type="hidden" value="@ViewBag.ResetPassword" name="s" class="form-control" />
                            
                            <input id="txtPassword" name="pwd" class="single-input" placeholder="Password" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Password'" type="password"/>
                            <div id="errPassword"></div>


                        </div>
                        <div class="mt-10">

                            
                            <input type="password" id="txtRetypePassword" name="RetypePassword" class="single-input" placeholder="Re Type Password" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Re Type Password'" />

                        </div>

                        <div class="mt-10">
                            <a href="javascript:checkPassword()" class="boxed-btn4" >Update Password</a>
                        </div>

                        <div class="mt-10">
                            <ul>
                                <li>Password must be minimum 8 letters</li>
                                <li>Include at least one upper case character (A-Z)</li>
                                <li>Include at least one lower case character (a-z)</li>
                                <li>Include a number (0-9)</li>
                            </ul>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>



